// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes

.logo
  display:block;
  width:500px;
  height:300px;

.logo.small
  width:200px;
  height:100px;

.logo .meteor
  display:block;
  background: url(../images/meteor-logo.svg) no-repeat center center;
  height: 100%;
  background-size: 100% auto;
  color:transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

.logo.square
  height:500px;

.logo .meteor.london
  background-image: url(../images/meteor-london-logo-on-dark.svg);

.black-background
  background: #000;

.meteorday
  background: url(http://meteorday.com/img/intro-bg.jpg) no-repeat scroll 0 0
  background-size: cover

.oli-news
  background: url(../images/oli-news.jpg) no-repeat scroll 0 0
  background-size: cover

.nordic-meteor
  background: url(../images/bg-nordic-meteor.jpg) no-repeat scroll 0 0
  background-size: cover

.meteor-shower
  background: url(../images/bg-meteor-shower.jpg) no-repeat scroll 0 0
  background-size: cover

.starfield
  background: url(../images/bg-starfield.jpg) no-repeat scroll 0 0
  background-size: cover

.meteor-london-then-1
  background: url(http://photos4.meetupstatic.com/photos/event/7/4/9/2/highres_207269842.jpeg) no-repeat scroll 50%
  background-size: auto 150%;

.meteor-london-then-2
  background: url(http://photos1.meetupstatic.com/photos/event/4/a/8/highres_207301192.jpeg) no-repeat scroll 50%
  background-size: auto 120%;

.meteor-london-then-3
  background: url(http://photos1.meetupstatic.com/photos/event/e/8/3/c/highres_207299452.jpeg) no-repeat scroll 50%
  background-size: auto 150%;

.meteor-london-then-4
  background: url(http://photos2.meetupstatic.com/photos/event/3/5/e/highres_241920862.jpeg) no-repeat scroll 50%
  background-size: auto 150%;

.meteor-london-then-5
  background: url(../images/nodecopter.jpg) no-repeat scroll 50%
  background-size: auto 150%;

.meteor-london-now-1
  background: url(http://photos1.meetupstatic.com/photos/event/4/e/5/4/highres_374660052.jpeg) no-repeat scroll 50%
  background-size: auto 150%;

.meteor-london-now-2
  background: url(../images/meteor-website.png) no-repeat scroll 50%
  background-size: auto 120%;

.meteor-london-now-3
  background: url(http://photos1.meetupstatic.com/photos/event/a/0/7/a/highres_365501082.jpeg) no-repeat scroll 50%
  background-size: auto 120%;

.meteor-london-now-4
  background: url(http://photos4.meetupstatic.com/photos/event/4/0/9/e/highres_374896542.jpeg) no-repeat scroll 50%
  background-size: auto 120%;

.ron
  background: url(../images/ron-burgundy-1024.jpg) no-repeat scroll 50%
  background-size: 100% auto;
