doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Meteor London

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        header.logo
          div.meteor Meteor London

      section.emphatic-text(data-bespoke-backdrop='meteorday')
        h1 Meteor Day

      section
        h2 <a href="http://meteorday.meteor.com/">There's a lot of us</a>
      
      section
        h2 How did we get here?
      
      section
        h2 Then...
        
      section
        h2 In a public house
        
      section
        h2 on a rainy February
        
      section
        h2 (2013!)        
        
      section(data-bespoke-backdrop='meteor-london-then-1')
      
      section(data-bespoke-backdrop='meteor-london-then-2')
      
      section(data-bespoke-backdrop='meteor-london-then-3')
      
      section(data-bespoke-backdrop='meteor-london-then-4')
      
      section
        h1 NOW
        
      section(data-bespoke-backdrop='meteor-london-now-1')
      
      section
        h1 Meteor 1.0
      
      section(data-bespoke-backdrop='meteor-london-now-2')
      
      section
        h2 What is Meteor?

      section
        h1 Full stack framework        

      section
        h1 JS everywhere
        
      section
        h2 &
        
      section
        h1 Transparent state syncing
        
      section
        h2 server-side made simple
        
      section
        h2 Means...
        
      section.emphatic-text(data-bespoke-backdrop='meteor-london-now-3')
        h2 We can all build apps 
      
      section
        h1 Real time apps
        
      section
        h1 Data driven apps
      
      section
        h1 Responsive apps
        
      section
        h1 Mobile apps
      
      section
        h1 Production apps
      
      section(data-bespoke-backdrop='meteor-london-now-4')        
      
      section
        h1 Epic community
        
      section
        h2 there's a lot of us        
        
      section
        h2 <a href="http://meteorday.meteor.com/">meetup.com/Meteor-London/</a>
        
      section
        h2 Everyone has 
        h2 >=1 
        h2 talk in them  
      
      section
        h2 <a href="http://meteorday.meteor.com/">tell a friend</a>      

      section
        h1 DEMOS!
        
script(src='build/build.js')
