doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Meteor London

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        header.logo
          div.meteor.london Meteor London

      section.emphatic-text(data-bespoke-backdrop='meteorday')
        h1 Welcome

      section
        h2 Talks
        h3 Build a thing, learn a thing, show a thing

      section
        h2 Richard Silverton
        h3 Meteor Newsround

      section
        h2 Alan Shaw
        h3 Swing-o-Meteor

      section
        h2 Oli Evans
        h3 A bluffers guide to cooperative-multitasking - part II

      section
        h1
          | Lightning Talks
          br
          small (5 minutes of fame)

      section
        h2 Jimmy Tidey
        h3 LocalNets: local community asset mapping

        h2 Paul Young
        h3 Non-dev Meteor dev

        h2 YOU!
        h3 Look at the shiny thing I builded!

      section.emphatic-text(data-bespoke-backdrop='nordic-meteor')
        h1 and

      section
        h2(style='margin-bottom:1em') BURRITOS from Poncho8
        img(src='images/burrito.png')

      section.emphatic-text(data-bespoke-backdrop='meteor-shower')
        h1 Sponsored by

      section
        header.logo
          div.meteor Meteor

      section.emphatic-text(data-bespoke-backdrop='starfield')
        h1 Hosted by

      section.emphatic-text(data-bespoke-backdrop='black-background')
        img.logo.square(src='images/logo-rml.jpg')

      section
        h1 Show time!
        
script(src='build/build.js')
